---
layout: layout.njk
type: page
meta:
  breadcrumbs:
    - name: Home
      url: 'https://schema.org'
      position: 1
      image: /path/to/image.png
    - name: Contact
      url: 'https://schema.org/contact'
      position: 2
    - name: About
      url: 'https://schema.org/About'
      image: nothing here
      position: 3
---

Page content...
