---
layout: layout.njk
type: page
meta:
  faq:
    - question: How old are you?
      answer: 12
    - question: What is your name?
      answer: "<p>Joe</p>"
    - question: What of it?
      answer: Not much.
  site:
    name: Site title
    description: Site description
    url: https://example.com
    logo:
      src: https://example.com/images/logo.png
      width: 1200
      height: 630
  language: en-US
  url: https://example.com/page
  title: Page title
  description: Page description
  image:
    src: https://example.com/images/page.png
---

Page content...
