---
layout: layout.njk
type: post
meta:
  site:
    name: Site title
    description: Site description
    url: https://example.com
    logo:
      src: https://example.com/images/logo.png
      width: 1200
      height: 630
  language: en-US
  url: https://example.com/page
  title: Post title
  description: Post description
  image:
    src: https://example.com/images/page.png
  author:
    name: First Last
  published: 2020-07-03T06:43:21.123Z
  modified: 2020-07-03T08:35:46.289Z
  section: Example
tags:
  - tag1
  - tag2
---

Post content...
