---
layout: layout.njk
type: product
meta:
  name: Cool Product
  site:
    name: Site title
    description: Site description
    url: https://example.com
    logo:
      src: https://example.com/images/logo.png
      width: 1200
      height: 630
  language: en-US
  url: https://example.com/page
  title: Page title
  description: Page description
  image:
    src: https://example.com/images/page.png
  gtin: "1"
  gtin12: "1"
  gtin13: "1"
  gtin14: "1"
  gtin8: "1"
  sku: "1"
  mpn: "1"
  countryOfOrigin: "USA"
  color: "Red"
  brand: "Pear"
  manufacturer: "Pear"
  material: "Plastic"
  productID: "ISBN:1"
  category: "cars"
  offers:
    price: "100"
  rating:
    ratingValue: "4.2"
  identifier: "1"
  reviews:
  - name: great product
    date: yesterday
    review: this product is amazing
    rating: 5
    author: mr president
    publisher: the Whitehouse
  - name: another great product
    review: this product is even more amazing
  - name: great product
    date: yesterday
    rating: 5
    author: mr president
---

Page content...
