---
layout: layout.njk
type: page
meta:
  potentialAction:
    type: SearchAction
    url: https://schema.org?search={search_term_string}
  site:
    name: Site title
    description: Site description
    url: https://example.com
    logo:
      src: https://example.com/images/logo.png
      width: 1200
      height: 630
  language: en-US
  url: https://example.com/page
  title: Page title
  description: Page description
  image:
    src: https://example.com/images/page.png
---

Page content...
