---
layout: layout.njk
type: page
meta:
  video:
    - name: Something nice
      description: "What is all about"
      caption: "nice vid"
      thumbnailUrl: https://example.com/path/to/image.png
      thumbnail:
        src: "https://no.where/png"
        width: "100px"
        height: "100px"
      uploadDate: "2015-04-05T08:00:00+02:00"
      duration: "PT1M33S"
      contentUrl: "http://www.example.com/movie.mov"
      embedUrl: "http://www.example.com/embed?videoetc"
      contentRating: "PG"
      author:
        name: "Mr Cool"
      dateModified: "2015-04-05T08:00:00+02:00"
      keywords: "just,an,amazing,vid"
      teaches: "pretty much nothing"
      typicalAgeRange: "99-100"
  site:
    name: Site title
    description: Site description
    url: https://example.com
    logo:
      src: https://example.com/images/logo.png
      width: 1200
      height: 630
  language: en-US
  url: https://example.com/page
  title: Page title
  description: Page description
  image:
    src: https://example.com/images/page.png
---

Page content...
