name: Test
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm ci
      - name: Test
        run: npm test
      - name: Generate coverage
        run: npm run coverage
      - name: Upload coverage
        uses: codecov/codecov-action@v1
